{% extends "teledm/base.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://openlayers.org/en/v3.18.2/css/ol.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'teledm/css/form.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'teledm/css/mapViewer.css' %}"/>
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand pull-right" href="https://cnes.fr/fr"><img src="{% static 'teledm/images/cnes.jpeg' %}" height="50px"></a>
            <a class="navbar-brand pull-right" href="http://climatologie.u-bourgogne.fr/"><img src="{% static 'teledm/images/crc.png' %}" height="50px"/></a>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav">
                    <li>
                        <a href={% url 'portailCRC:home' %}><b>Portail</b></a>
                    </li>
                    <li>
                        <a href={% url 'teledm:home' %}><b>Accueil TeleDM</b></a>
                    </li>
                    <li class="active">
                        <a href={% url 'teledm:mapViewer' %}><b>Cartographie</b></a>
                    </li>
                    <li>
                        <a href={% url 'teledm:mapDist' %}><b>Extraction Géographique</b></a>
                    </li>
                    <li>
                        <a href={% url 'teledm:calval' %}><b>Calibration/Validation</b></a>
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block form %}
        <div class="row">
            <form id="mapForm" action="" method="post" class="form-horizontal">{% csrf_token %}
                <div class="row" id="Sat">
                    <div class="row">
                        <label>Sélection de la donnée spatialisée</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <select class="form-control" name="type" id="typeS1" >
                                <option selected hidden>Type de données</option>
                            </select>
                            <select class="form-control" name="capteur" id="capteurS1" >
                                <option selected hidden>Capteur/Source</option>
                            </select>
                            <select class="form-control" name="produit" id="produitS1" >
                                <option selected hidden>Produit</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <select class="form-control" name="resospatiale" id="resospatialeS1" >
                                <option selected hidden>Résolution spatiale</option>
                            </select>
                            <select class="form-control" name="pasdetemps" id="pasdetempsS1" >
                                <option selected hidden>Résolution temporelle</option>
                            </select>
                            <select class="form-control" name="variable" id="variableS1" >
                                <option selected hidden>Variable</option>
                            </select>
                            <select class="form-control" name="level1" id="levelS1" >
                                <option data-hidden="true">Layer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" id="Periode">
                    <div class="row">
                        <label>Période de traitement : </label>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="row">
                                <div class="input-group">
                                    <label for="date" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span> </label>
                                    <input id="date" name="datedebut" type="text" class="date-picker form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <input type="button" value="Mise à jour de la carte" onclick="updateMap()">
                        <div id="dateAnimation"></div>
                    </div>
                </div>
                <div class="row" id="theme">
                    <div class="col-md-8 col-lg-8">
                        <div class="row">
                            <div class="form-group">
                                <label>Thème de la barre de couleur:</label> 
                                <select class="form-control" id="Colorbar" onChange="setColorbar()">
                                    <option>rainbow</option>
                                    <option>occam</option>
                                    <option>redblue</option>
                                    <option>ncview</option>
                                    <option>sst_36</option>
                                    <option>greyscale</option>
                                    <option>alg2</option>
                                    <option>occam_pastel</option>
                                    <option>ferret</option>
                                    <option>alg</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label>Niveau de dégradé</label> 
                                <select class="form-control" id="colorband" name="colorbandNum" onChange="setColorband()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="185">185</option>
                                        <option value="254">254</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label>Echelle de couleur min/max : </label>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <input type="number" step="0.01" id="ScaleMin" name="scaleMin" min="-100" max="400" value="" class="form-control">
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <input type="number" step="0.01" id="ScaleMax" name="scaleMax" min="0" max="400" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4" id="scale">
                        <div class="col-lg-6" id="colors">
                            <div id="colorbar"></div>
                        </div>
                        <div class="col-md-6 col-lg-6" id="ranges">
                            <div id="smax"></div>
                            <div id="smidmax"></div>
                            <div id="smid"></div>
                            <div id="smidmin"></div>
                            <div id="smin"></div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="button" value="Mise à jour de la carte" onclick="updateMap()">
                    </div>
                    <div role="group" aria-label="Animation controls">
                        <div class="row">
                            <label>Animation</label>
                        </div>
                    <button type="button" class="btn btn-default btn-sm" id="backward" onclick="prevDate()">
                        <span class="glyphicon glyphicon-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" id="forward" onclick="nextDate()">
                        <span class="glyphicon glyphicon-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" id="stop" onclick="stopAnim()">
                        <span class="glyphicon glyphicon-stop"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" id="play" onclick="animation()">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                        <span id="info"></span>
                </div>
                </div>
            </form>
        </div>
        
{% endblock %}

{% block content1 %}
    </br>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div id="map" class="map" ></div>
    </div>
{% endblock %}

{% block content2 %}
    <div class="row">
        <input type="button" id="profil" value="Profil Temporel" title="Extraction du profil temporel pour
        les mesures(aeronet, teom, meteo), données épidémiologiques, donnee spatialisee visualisée sur la cartographie"/>
    </div>
    <div class="row" id="containerProfil">
        <div class="row">
            <label>Un clic gauche de souris sur la carte préalablement chargée permet d'extraire le profil temporel de la variable considérée </br>
            Les menus déroulants ci-dessous proposent les mesures de stations aeronet, teom ou météorologiques ainsi que les données épidémiologiques
            </label>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="row">
                    <label>Mesures in situ</label>
                </div>
                <div class="row">
                    <select class="form-control" name="mesure" id="mesureIS" >
                        <option selected hidden>Type</option>
                    </select>
                    <select class="form-control" name="stations" id="stationsIS" >
                        <option selected hidden>Station</option>
                    </select>
                    <select class="form-control" name="niveau" id="niveauIS" >
                        <option selected hidden>Niveau</option>
                    </select>
                    <select class="form-control" name="variables" id="variablesIS" >
                        <option selected hidden>Variable</option>
                    </select>
                    <select class="form-control" name="resoTempo" id="resoTempoIS" >
                        <option selected hidden>Resolution Temporelle</option>
                    </select>
                    <input type="button" id="addIS" value="Plot"/>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="row">
                    <label>Donnees Epidemiologiques</label>
                </div>
                <div class="row">
                    <select class="form-control" name="epidemio" id="epidemioEP" >
                        <option selected hidden>Type</option>
                    </select>
                    <select class="form-control" name="pays" id="paysEP" >
                        <option selected hidden>Pays</option>
                    </select>
                    <select class="form-control" name="echelle" id="echelleEP" >
                        <option selected hidden>Echelle</option>
                    </select>
                    <select class="form-control" name="district" id="districtEP" >
                        <option selected hidden>District</option>
                    </select>
                    <select class="form-control" name="variables" id="variableEP" >
                        <option selected hidden>Variable</option>
                    </select>
                    <input type="button" id="addEP" value="Plot"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div id="plot"></div>
            </div>
        </div>
    </div>
    </br>
    <div class="row">
        <input type="button" id="export" value="Extraction jeu de données" title="Extraction de la données spatialisée
        sur une zone géographie choisie,
        au format NETCDF"/>
    </div>
    <div class="row" id="containerExport">
        <div class="row">
            <label>Choisir la zone géographique en renseignant les longitudes-latitudes ou en dessinant à l'aide de la souris(click gauche maintenu) un carré sur la carte</label>
        </div>
        <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="row">
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-3">
                        <input type="text" class="input-small" name="uly" id="uly" placeholder="North"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1">
                    <input type="text" class="input-small" name="ulx" id="ulx" placeholder="West"/>
                    </div>
                    <div class="col-sm-2 col-sm-offset-2">
                        <input type="text" class="input-small" name="lrx" id="lrx" placeholder="East"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-3">
                        <input type="text" class="input-small" name="lry" id="lry" placeholder="South"/>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="row">
                    <input type="button" id="download" value="Téléchargement"/>
                </div>
                <div>
                    <label>Scripts de conversion du format netcdf vers un fichier txt</label>
                    <a href="{% url 'teledm:nc2txtPy' %}">nc2txt.py</a>
                    <a href="{% url 'teledm:nc2txtR' %}">nc2txt.R</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var urlShp = "{% static 'teledm/shapes/' %}";
    </script>
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>-->
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <!--<script type="text/javascript" src="https://code.highcharts.com/stock/highstock.js"></script>-->
    <script type="text/javascript" src="https://openlayers.org/api/OpenLayers.js"></script>
    <!--<script type="text/javascript" src="https://maps.stamen.com/js/tile.stamen.js?v1.3.2"></script>-->
    <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
    <!--<script type="text/javascript" src="http://highcharts.github.io/export-csv/export-csv.js"></script>-->
    <script type="text/javascript" src="{% static 'highcharts-export-csv/export-csv.js' %}"></script>   
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js"></script>-->
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js"></script>-->
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>-->
    <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script type="text/javascript" src="{% static 'respond/src/respond.js' %}"></script>
    <script type="text/javascript" src="{% static 'html5shiv/dist/html5shiv-printshiv.js' %}"></script>    
    <script type="text/javascript" src="{% static 'teledm/js/mapViewer.js' %}"></script>   
{% endblock %}
