.row {
  margin-right: 0px;
  margin-left: 0px;
}
/*
.navbar #nav > .active > a {
    color: blue;
}

header,footer {
    background-color:#000066;
	}
*/
.navbar-fixed-top, footer {
  background-color: #344d5c;
}

.navbar-brand 
{
    padding-top: 0;
}

.navbar-toggle {
    position: absolute;
    right: 75px;
    top: 0;
}

header {
  height: 150px;
}

h4,h2 {
    color: #DCDCDC;
}

h4 {
    font-style: italic;
}

main {
	background-color:#FFFFFF;
	}

footer {
    height: 70px;
}

li a {
    color: white;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#img {
  border: #006699 solid 1px;
  border-radius:10px;
  -moz-box-shadow: 10px 10px 5px #656565;
  -webkit-box-shadow: 10px 10px 5px #656565;
  -o-box-shadow: 10px 10px 5px #656565;
  box-shadow: 10px 10px 5px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5);
}

#themes {
    padding-left: 40px;
}

#missions {
    padding-right: 50px;
}

#logos {
    padding-top: 10px;
}

/*
.navbar-fixed-top {
    background-color:#002233;
}

*/